* {
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 10px 10%;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background: #023E8A;

}

.index-h1 {
  margin: auto;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.index-p {
  margin: 0 20px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

nav ul {
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: flex;
  margin: 0 20px;
  
}

nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  top: -350px;
  font-weight: 600;
  margin: 0 10px;
  text-transform: uppercase;

}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.fill ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.fill ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.fill ul li a:hover:after {
  animation: circle 1.5s ease-in forwards;
  
}





/*about*/

#about {
  height: 130vh;
  padding: 80px 0;
  color: black;
}

.about-column-1,
.about-column-2 {
    flex-basis: 48%;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-title {
  margin-top: 32%;
  font-size: 60px;
  color: black;
  
}

.about-column-1 img {
  border-radius: 15px;
  max-width: 45%;
  height: auto;
  margin-left: 30%;
}

.about-h1 {
  font-size: 60px;
  text-align: center;
}

.intro {
  margin-top: 10%;
  position: relative;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

.tab-titles {
  display: flex; 
  
  margin: 20px 0 40px;  
}

.tab-links {
  margin-right: 10%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); 
  z-index: 1;
  padding: 15px;
}

.tab-links:hover {
  color: white;
}

.tab-links:after {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  color: transparent;
  background: #023E8A;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s, height 0.3s;
}

.tab-links:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}






.tab-content ul li {
  
  list-style: none;
  margin: 10px 0;
}

.tab-content ul li span {
  color: #023E8A;
  font-size: 14px;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}







@keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;  
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
