@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 10px;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background: #023E8A;
}

.index-h1 {
  position: absolute;
  color: white;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  white-space: nowrap;
}

.index-p {
  position: absolute;
  color: white;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  white-space: nowrap;
}


nav.fill ul {
  margin: 0 10px;
  list-style: none;
  justify-content: center;
}

nav.fill ul li {
  display: flex;
  margin: 0 20px;
  
}

nav.fill ul li a {
  margin-top: 35px;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  top: -450px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  text-transform: uppercase;

}

nav.fill ul li a,
nav.fill ul li a:after,
nav.fill ul li a:before {
  transition: all .5s;
}
nav.fill ul li a:hover {
  color: #555;
}

nav.fill ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.fill ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.fill ul li a:hover:after {
  animation: circle 1.5s ease-in forwards;
  
}

/*about*/

#about {
  height: 170vh;
  padding: 80px 0;
  color: black;
}

.about-column-1,
.about-column-2 {
  flex-basis: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-column-1 img {
  border-radius: 15px;
  max-width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 10%;
}

.about-h1 {
  margin-top: -80px;
  font-size: 40px;
  text-align: center;
  
}

.tab-titles {
  margin-top: 20px;
}

.tab-links {
  margin: 0;
  color: #023E8A;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.tab-links:hover{
  color: white;
}

.tab-links:after {
  content: '.';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  color: transparent;
  background: #023E8A;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s, height 0.3s;
}

.tab-links:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.tab-content ul li {
  list-style: none;
  margin: 10px 0;
  line-height: 1.5;
}

.tab-content {
  display: none;
}

.tab-content ul li span {
  color: #023E8A;
}
.tab-content.active-tab {
  display: block;
}

.prog-column-1  {
  float: left;
  width: 30%;
}

.prog-column-2 {
  float: left;
  width: 70%;

}

.tab-content .prog-column-1 li,
.tab-content .prog-column-2 li{
  list-style: disc;
  list-style-position: inside;
}

.sub-title {
  text-align: center;
}

#education span{
  font-weight: 700;
}

#education .course {
  font-weight: normal;
  font-style: italic;
  color: black;
  
}

/* portfolio */

#portfolio {

  height: 70vh;
  padding: 80px 0;

}

.portfolio-h1 {
  margin-top: -80px;
  font-size: 40px;
  text-align: center;
}

.portfolio-column-1,
.portfolio-column-2 {
  flex-basis: 100;
}

#portfolio .columns {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-column-1 {
  text-align: center;
}

.portfolio-column-1 p {
  margin-top: 10px;
}

.portfolio-column-2 {
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio-column-2 img {
  margin: 0 30px;
  border-radius: 10px;
  width: 85%;
  height: auto;
  transition: transform 0.5s;
}

.portfolio-layer {
  margin: 0 30px;
  width: 85%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #023E8A);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.portfolio-layer h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.portfolio-layer p {
  color: #fff;
}

.portfolio-layer a {
  margin-top: 20px;
  color: #023E8A;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.portfolio-column-2:hover img {
  transform: scale(1);
}

.portfolio-column-2:hover .portfolio-layer {
  height: 100%;
}


/* social */

#social {
  height: 160vh;
  padding: 80px 0;
}

.social-h1 {
  margin-top: -80px;
  font-size: 40px;
  text-align: center;
}

.social-column-1,
.social-column-2 {
  flex-basis: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px; 
}

.social-column-1 p,
.social-column-2 p{
  font-weight: 600;
  margin-left: 100px;
}

.social-column-1  {
  float: left;
  width: 50%;
}

.social-column-2 {
  float: left;
  width: 50%;

}

#social .columns {
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facebook img,
.linkedin img,
.instagram img,
.github img{
  margin: 0 -5px;
  border-radius: 10px;
  width: 85%;
  display: block;
  height: auto;
  transition: transform 0.5s;
  
}



.linkedin img,
.github img,
.facebook img,
.instagram img{
  margin-top: 15%;
}

.social-column-1 h3,
.social-column-2 h3{
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.social-column-1 a,
.social-column-2 a{
  color: #023E8A;
  text-decoration: none;
  font-size: 18px;
  line-height: 55px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.facebook-layer,
.instagram-layer,
.linkedin-layer,
.github-layer {
  margin: 0 -5px;
  width: 85%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #023E8A);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.facebook:hover,
.instagram:hover,
.github:hover,
.linkedin:hover {
  transform: scale(1.1);
}

.facebook:hover .facebook-layer,
.instagram:hover .instagram-layer,
.linkedin:hover .linkedin-layer,
.github:hover .github-layer {
  height: 100%;
}

/* contact */

#contact {
  height: 80vh;
  padding: 80px 0;

}

.contact-h1 {
  margin-top: -80px;
  font-size: 40px;
  text-align: center;
}

.contact-column-1,
.contact.-column-2 {
  flex-basis: 100%;
}

.contact-column-1{
  margin-top: 5px;
  width: 70%;
  float: left;
}

.contact-column-2 {
  margin-top: 10px;
  width: 30%;
  float: left;
}

.contact-column-2 p{
  margin-top: 20px;
  
}

.contact.-column-1 form{
  width: 100%;
}

.btn.btn2 {
  display: inline-block;
  background: #023E8A;
  margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;  
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.contact-column-1 textarea {
  resize: vertical; 
}

.contact-column-1 button {
  background-color: #333; 
  color: #fff; 
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form textarea {
  height: 200px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.email,
.telephone{
  margin-top: 10px;
  font-size: 18px;
  white-space: nowrap;
}

.download {
  margin-top: 30px;
  white-space: nowrap;
}

.dl-button {
  text-decoration: none;
  color: white;
  background: #023E8A;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  
}

.dl-button:hover {
  color: white;
  box-shadow: 0 5px 15px #023E8A;
}

.btn.btn2:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #023E8A;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button for the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -6px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* footer */

.footer{
  width:100%;
  text-align: center;
  padding: 25px 0;
  background: #023E8A;
  font-weight: 300;
  margin-top: 20px;
}

.footer p{
  color: white;
}

/* tablet view */

@media only screen and (min-width: 768px){

  .index-h1 {
    top: 35%;
    left: 50%;
    font-size: 90px;
  }
  
  .index-p {
    margin: 0 20px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
  
  nav.fill ul {
    margin: auto;
    display: flex;
  }
  
  nav.fill ul li a {
    padding: 15px;
    font-size: 25px;
    position: relative;
    top: -300px;
    margin: 0 10px;
  }
  

  /*about*/
  
  #about {
    height: 130vh;
  }
  
  .about-column-1,
  .about-column-2 {
      flex-basis: 40%;
  }
     
  .columns {
    justify-content: left;
  }
  
  .about-column-1 img {
    max-width: 60%;
    margin-left: 30%;
  }
  
  .about-h1 {
    margin-top: -50px;        
    font-size: 60px;
  }
      
  .tab-titles {
    display: flex; 
    margin: 20px 0 40px;   
  }
  
  .tab-links {
    margin-right: 5px;
    margin-top: 5px;
    padding: 15px;
  }
  
  .tab-content ul li span {
    font-size: 18px;
  }
  
  /* portfolio */
  
  #portfolio {
    height: 100vh;
  }
  
  .portfolio-h1 {
    margin-top: -50px;        
    font-size: 60px;
  }
  
  .portfolio-column-1,
  .portfolio-column-2 {
    flex-basis: 50%;
  }
  
  .portfolio-column-1 {
    margin-top: 60px;
  }

  .portfolio-column-1 p {
    margin-top: 30px;
    font-size: 18px;
  }
        
  .portfolio-column-2 img {
    width: 100%;
  }
  
  .portfolio-layer {
    width: 100%;
  }
   
  /* social */
  
  #social {
    height: 100vh;
  }
  
  .social-h1 {
    margin-top: -50px;
    font-size: 60px;
  }
  
  .social-column-1,
  .social-column-2 {
    flex-basis: 48%;
    
  }
  
  .social-column-1 p,
  .social-column-2 p{
    font-weight: 600;
    margin-left: 120px;
  }

  .facebook img,
  .linkedin img,
  .instagram img,
  .github img{
    width: 55%;
  }
  
  .facebook img,
  .linkedin img{
    margin-left: 50px;
  }

  .social-column-1 a,
  .social-column-2 a{
    margin-top: 20px;
    line-height: 60px;
    width: 60px;
    height: 60px;
  }
  
  .facebook-layer,
  .instagram-layer,
  .linkedin-layer,
  .github-layer {
    margin: 0;
    width: 55%;
  }
  
  .facebook-layer,
  .linkedin-layer {
    margin-left: 50px;
  }

  /* contact */
  
  #contact {
    height: 80vh;
  }
  
  .contact-h1 {
    margin-top: -50px;        
    font-size: 60px;
  }
  
  .contact-column-1,
  .contact.-column-2 {
    flex-basis: 48%;
  }
  
  .contact-column-1{
    margin-left: 30px;
  }
  
  .contact-column-2 {
    margin-left: 200px;
  }
  
  form input,
  form textarea {
    width: 130%;
  }

  form textarea {
    height: 300px;
  }
  
  .btn.btn2 {
    margin: 0;
  }
  
  .email,
  .telephone{
    margin-top: 5%;
    font-size: 18px;
  }
  
  .download {
    margin-top: 10%;
  }
  
  .dl-button {
    margin-top: 20px;
    margin: 0;
  }
  
  .modal-content {
    width: 50%;
  }
  
  .close {
    margin-top: -7px;
  }
}

@media only screen and (min-width: 1200px){

  /* index */

  .index-h1 {
    font-size: 110px;
    top: 40%;
  }

  .index-p {
    font-size: 60px;
    top: 50%;
  }

  .nav.fill ul li a {
    font-size: 400px;
  }

  /*about*/
  
  #about {
    height: 100vh;
  }
  
  .about-column-1,
  .about-column-2 {
    flex-basis: 48%;
  }
     
  .about-column-1 img {
    margin-top: 5%;
    max-width:55%;
  }
  
  .tab-links {
    margin-right: 50px;
  }
  
  
  /* social */
  
  #social {
    height: 130vh;
  }
  
  .social-h1 {
    margin-top: -80px;
  }

  .facebook img,
  .linkedin img,
  .instagram img,
  .github img{
    width: 50%;
  }
  
  .facebook img,
  .linkedin img{
    margin-left: 150px;
  }

  .facebook-layer,
  .instagram-layer,
  .linkedin-layer,
  .github-layer {
    margin: 0;
    width: 50%;
  }
  
  .facebook-layer,
  .linkedin-layer {
    margin-left: 150px;
  }

  /* contact */
  
  #contact {
    height: 70vh;
  }
  
  .contact-h1 {
    margin-top: -250px;        
    font-size: 60px;
  }
  
  .contact-column-1{
    margin-top: 70px; 
    margin-left: 30px;
  }
  
  .contact-column-2 {
    margin-top: 70px;
    margin-left: 300px;
  }
}


.waiting-animation {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.circle-background {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
}

.waiting-animation .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  animation: rotate 1s linear infinite;
}



@keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;  
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}