@import url(https://fonts.googleapis.com/css?family=Montserrat);

@media only screen and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        box-sizing: border-box;
      }
      
      body {
        font-family: "Montserrat", sans-serif;
      }
      
      .container {
        padding: 10px 10%;
      }
      
      #particles-js{
        width: 100%;
        height: 100vh;
        background: #023E8A;
      
      }
      
      .index-h1 {
        margin: auto;
        position: absolute;
        color: white;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 90px;
      }
      
      .index-p {
        margin: 0 20px;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
      }
      
      
      nav.fill ul {
        margin: auto;
        list-style: none;
        display: flex;
        justify-content: center;
      }
      
      nav.fill ul li {
        display: flex;
        margin: 0 20px;
        
      }
      
      nav.fill ul li a {
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        position: relative;
        top: -350px;
        font-weight: 600;
        margin: 0 10px;
        text-transform: uppercase;
      
      }
      
      nav.fill ul li a,
      nav.fill ul li a:after,
      nav.fill ul li a:before {
        transition: all .5s;
      }
      nav.fill ul li a:hover {
        color: #555;
      }
      
      nav.fill ul li a {
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
      nav.fill ul li a:after {
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '.';
        color: transparent;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: transparent;
      }
      nav.fill ul li a:hover:after {
        animation: circle 1.5s ease-in forwards;
        
      }
      
      
      
      
      
      
      
      /*about*/
      
      #about {
        height: 130vh;
        padding: 80px 0;
        color: black;
      }
      
      .about-column-1,
      .about-column-2 {
          flex-basis: 48%;
      }
      
      .columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .about-column-1 img {
        border-radius: 15px;
        max-width: 55%;
        height: auto;
        margin-left: 30%;
        margin-top: 10%;
      }
      
      .about-h1 {
        font-size: 60px;
        text-align: center;
      }
      
      .intro {
        font-weight: 300;
        position: relative;
        font-size: 17px;
        text-align: center;
        line-height: 2;
      }
      
      .tab-titles {
        display: flex; 
        margin: 20px 0 40px;  
        
      }
      
      .tab-links {
        color: #023E8A;
        margin-right: 7%;
        margin-top: 5%;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        z-index: 1;
        padding: 15px;
        text-transform: uppercase;
      }
      
      .tab-links:hover {
        color: white;
      }
      
      .tab-links:after {
        content: '.';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        color: transparent;
        background: #023E8A;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s, height 0.3s;
      }

      .tab-links:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
      
      .tab-content ul li {
        list-style: none;
        margin: 10px 0;
        line-height: 1.5;
      }
      
      .tab-content ul li span {
        color: #023E8A;
        font-size: 18px;
      }
      
      .tab-content {
        display: none;
      }
      
      .tab-content.active-tab {
        display: block;
      }
      
      .prog-column-1  {
        
        float: left;
        width: 30%;
      }
      
      .prog-column-2 {
        
        float: left;
        width: 70%;
      
      }
      
      .tab-content .prog-column-1 li,
      .tab-content .prog-column-2 li{
        list-style: disc;
        list-style-position: inside;
      }
      
      #education span{
        font-weight: 700;
      }
      
      #education .course {
        font-weight: normal;
        font-style: italic;
        color: black;
        
      }
      
      /* portfolio */
      
      #portfolio {
      
        height: 100vh;
        padding: 80px 0;
      
      }
      
      .portfolio-h1 {
        font-size: 60px;
        text-align: center;
      }
      
      .portfolio-column-1,
      .portfolio-column-2 {
        flex-basis: 48%;
      }
      
      #portfolio .columns {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .portfolio-column-2 {
        margin-top: 50px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
      }
      
      .portfolio-column-2 img {
        border-radius: 10px;
        width: 100%;
        display: block;
        height: auto;
        transition: transform 0.5s;
      }
      
      .portfolio-layer {
        width: 100%;
        height: 0%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #023E8A);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
      }
      
      .portfolio-layer h3 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 20px;
      }
      
      .portfolio-layer p {
        color: #fff;
      }
      
      .portfolio-layer a {
        margin-top: 20px;
        color: #023E8A;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
      }
      
      .portfolio-column-2:hover img {
        transform: scale(1.1);
      }
      
      .portfolio-column-2:hover .portfolio-layer {
        height: 100%;
      }
      
      
      /* social */
      
      #social {
        height: 100vh;
        padding: 80px 0;
      }
      
      .social-h1 {
        font-size: 60px;
        text-align: center;
      }
      
      .social-column-1,
      .social-column-2 {
        flex-basis: 48%;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10px; 
      }
      
      
      .social-column-1  {
        float: left;
        width: 50%;
      }
      
      .social-column-2 {
        float: left;
        width: 50%;
      
      }
      
      #social .columns {
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .facebook img,
      .linkedin img,
      .instagram img,
      .github img{
        border-radius: 10px;
        width: 65%;
        display: block;
        height: auto;
        transition: transform 0.5s;
        
      }
      
      .linkedin img,
      .github img{
        margin-top: 15%;
      }
      
      .social-column-1 h3,
      .social-column-2 h3{
        color: #fff;
        font-weight: 500;
        margin-bottom: 20px;
      }
      
      .social-column-1 a,
      .social-column-2 a{
        margin-top: 20px;
        color: #023E8A;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
      }
      
      .facebook-layer,
      .instagram-layer,
      .linkedin-layer,
      .github-layer {
        width: 65%;
        height: 0%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #023E8A);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
      }
      
      .facebook:hover,
      .instagram:hover,
      .github:hover,
      .linkedin:hover {
        transform: scale(1.1);
      }
      
      .facebook:hover .facebook-layer,
      .instagram:hover .instagram-layer,
      .linkedin:hover .linkedin-layer,
      .github:hover .github-layer {
        height: 100%;
      }
      
      /* contact */
      
      #contact {
        height: 100vh;
        padding: 80px 0;
      
      }
      
      .contact-h1 {
        font-size: 60px;
        text-align: center;
      }
      
      .contact-column-1,
      .contact.-column-2 {
        flex-basis: 48%;
      }
      
      .contact-column-1{
        margin-top: 5%;
        width: 70%;
        float: left;
      }
      
      .contact-column-2 {
        margin-top: 5%;
        width: 30%;
        float: left;
      }
      
      .contact.-column-1 form{
        width: 100%;
        
      }
      
      .btn.btn2 {
        display: inline-block;
        background: #023E8A;
        
      }
      
      form input,
      form textarea {
          width: 130%;
          border: 0;
          outline: none;
          background: #262626;
          padding: 15px;  
          margin: 15px 0;
          color: white;
          font-size: 18px;
          border-radius: 6px;
      }
      
      .contact-column-1 textarea {
        resize: vertical; 
      }
      
      .contact-column-1 button {
        background-color: #333; 
        color: #fff; 
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
      }
      
      form textarea {
        height: 300px;
      }
      
      form .btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
      }
      
      .email,
      .telephone{
        margin-top: 5%;
        font-size: 18px;
      }
      
      
      .download {
        margin-top: 10%;
      }
      
      .dl-button {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: #023E8A;
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        margin-top: 20px;
      }
      
      .dl-button:hover {
      
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px #023E8A;
      }
      
      
        
      
      
      @keyframes circle {
        0% {
          width: 1px;
          top: 0;
          left: 0;  
          bottom: 0;
          right: 0;
          margin: auto;
          height: 1px;
          z-index: -1;
          background: #eee;
          border-radius: 100%;
        }
        100% {
          background: #aaa;
          
          height: 5000%;
          width: 5000%;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-radius: 0;
        }
      }
      
}